In [14]:
import pymysql
from sqlalchemy import create_engine
import requests
from bs4 import BeautifulSoup
import lxml
import datetime
import pandas as pd

In [19]:
class Data_gathering:
    def __init__(self):
        #defining url-s with data sources
        self.url_lotto = 'http://megalotto.pl/najwyzsze-wygrane/lotto'
        self.url_polish_cities = 'https://www.polskawliczbach.pl/Miasta'
        self.url_polish_provinces = 'https://www.polskawliczbach.pl/Wojewodztwa'      
        self.user = str(input('Enter SQL user name: '))
        self.password = str(input('Enter password: '))
        self.database = str(input('Enter SQL database name: '))
        self.conn = pymysql.connect("localhost", self.user, self.password, self.database)
        self.c = self.conn.cursor()
        print(self.user, 'is connected to SQL', self.database, 'database')
        
    def scrape_and_add_lottery_data(self):
        '''Scrapes lottery data (money prize, winner location, date) from http://megalotto.pl/najwyzsze-wygrane/lotto
        page and adds these data into SQL database'''
        
        #definig lists that will serve as a base for creating the table with prizes, winners' locations and dates of lottery wins
        lottery_prizes_list = []
        lottery_winner_locations_list = []
        lottery_dates_list = []

        while True:
            page = requests.get(self.url_lotto)
            html_content = BeautifulSoup(page.content, 'html.parser')
            prizes = html_content.find_all(class_ = 'numbers_in_list numbers_in_list_najwyzsze_wygrane')
            cities = html_content.find_all(class_ = 'date_in_list date_in_list_najwyzsze_wygrane_miasto')
            dates = html_content.find_all(class_='date_in_list date_in_list_najwyzsze_wygrane_date')
            next_page = html_content.find_all(class_ = 'prev_next')

            for index, prize in enumerate(prizes):
                #preparing prizes as int type. replace function was used to remove spaces prior convertion into int.
                if index > 0:
                    lottery_prizes_list.append(int(str(prizes[index]).split('>')[1].split(',')[0].replace(" ", "")))
                    lottery_winner_locations_list.append(str(cities[index]).split('>')[1].split(' <')[0])
                    lottery_dates_list.append(str(dates[index]).split('>')[1].split(' <')[0])


            if "NastÄ™pny" in str(next_page[1]): #getting url of the next page with prizes
                self.url_lotto = "http://megalotto.pl" + str(next_page[1]).split('href="')[1].split('"')[0]
            else:
                break #ending the 'while True' loop when there is no next page with prizes list

        self.c.execute("create table lottery_data ("
                       "prize_id int primary key auto_increment,"
                       "lottery_prize int,"
                       "lottery_winner_location varchar(255),"
                       "lottery_date date)")
        self.conn.commit()
        print("lottery_data table was created in SQL lotto database")
        
        for index, prize in enumerate(lottery_prizes_list):
            self.c.execute("insert into lottery_data values (default, %s, %s, %s)",
                           (prize, lottery_winner_locations_list[index], lottery_dates_list[index]))
        self.conn.commit()
        print("lottery data (money prize, winner location, date) were added to lottery_data table")
        self.conn.close()
        
    def scrape_and_add_polish_cities_data(self):
        polish_cities_table = pd.read_html(self.url_polish_cities)[0].drop(['Unnamed: 0', 'Powiat', 'Obszar'], axis=1)
        # changing columns' names to english
        polish_cities_table.columns = ['City', 'Province', 'Population'] #changing columns' names to english

        #changing format from object into str and int. no inplace argument for series.str.replace function and copy=False
        #for df.astype is not assigning changes to existing variables, so reassign is applied.
        polish_cities_table['Population'] = polish_cities_table['Population'].str.replace(" ", "")
        polish_cities_table = \
        polish_cities_table.astype({'City' : 'string', 'Province' : 'string', 'Population' : 'int'})
        polish_cities_table.info()

        #adding polish_cities_table to SQL database
        engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                                   .format(user=self.user,
                                           pw=self.password,
                                           db=self.database))
        polish_cities_table.to_sql('polish_cities', con=engine)

    def scrape_and_add_polish_provinces_data(self):
        polish_provinces_table = pd.read_html(self.url_polish_provinces)[0].drop(['Unnamed: 0', 'Obszar'], axis=1)
        polish_provinces_table.columns = ['Province', 'Population', 'Urbanisation [%]']
        polish_provinces_table['Population'] = polish_provinces_table['Population'].str.replace(" ", "")
        polish_provinces_table['Urbanisation [%]'] = polish_provinces_table['Urbanisation [%]'].str.replace(",", ".")
        polish_provinces_table['Urbanisation [%]'] = polish_provinces_table['Urbanisation [%]'].str.replace("%", "")
        # changing columns' names to english
        polish_provinces_table = \
            polish_provinces_table.astype({'Province' : 'string', 'Population' : 'int', 'Urbanisation [%]' : 'float'})
        print(polish_provinces_table.info())

    #adding polish_provinces_table to SQL database
        engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                                   .format(user=self.user,
                                           pw=self.password,
                                           db=self.database))
        polish_provinces_table.to_sql('polish_provinces', con=engine)

In [20]:
lotto = Data_gathering()

Enter SQL user name:  piotrsoczewka
Enter password:  qwerty
Enter SQL database name:  lotto

piotrsoczewka is connected to SQL lotto database

In [18]:
lotto.scrape_and_add_polish_cities_data()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944 entries, 0 to 943
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        944 non-null    string
 1   Province    944 non-null    string
 2   Population  944 non-null    int32
dtypes: int32(1), string(2)
memory usage: 11.1 KB

In [21]:
lotto.scrape_and_add_polish_provinces_data()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Province          16 non-null     string
 1   Population        16 non-null     int32
 2   Urbanisation [%]  16 non-null     float64
dtypes: float64(1), int32(1), string(1)
memory usage: 320.0 bytes
None

c:\program files (x86)\python36-32\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\x8Crodko...' for column 'VARIABLE_VALUE' at row 481")
  result = self._query(query)